.card {
    margin: 5px 0px;
}

.card-body {
    padding: 5px;
}

.btn-sm {
    padding: 0.2rem 0.5rem;
    margin:1px;
}
.example-header-image {
    background-size: cover;
}


.message {
	margin: 1em auto;
	padding: 1em;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
