mat-toolbar {
    /* background: rgba(0, 0, 0, 0.8); */
    background: #37474f;
    color: #fff;
    height:55px;
    box-shadow: 0 12px 20px -10px rgba(79, 80, 86, 0.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(36, 36, 36, 0.2);
    padding-left: 0
}

.ion-ios-analytics-outline {
    margin-right: 8px;
    /* left:-8px; top:1px; position:relative; */
}

div:focus {
    /* color: white; */
    outline: none;
}

.logo {
    padding: 0 45px !important;
    background-color: #009688;
    font-size: 20px !important;
    border-radius: 0px !important;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.example-fill-remaining-space {
   flex: 1 1 auto;
}

.translate-flag {
   padding: 8px 7px 8px 0px;
   cursor: pointer;
   height: 45px;
}

.font-bold {
    font-weight: bold;
}



.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:auto;
    overflow: hidden;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}



.header li a:visited, li a:link{
    color: white;
    text-decoration: none;
}

/* .header li a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
} */
