.card-stats .title {
    margin: 0;
}
.card-stats .card-header {
    float: left;
    text-align: center;
}
.card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}
.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.card-footer .content {
    display: block;
}
.card-footer div {
    display: inline-block;
}
/* .card-footer .author {
color: #999;
} */
.card-footer .stats {
    line-height: 22px;
    color: #999;
    font-size: 12px;
}
.card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.row {
    padding-bottom: 2%
}
/* .card-footer h6 {
color: #999;
} */
