<div class="row">
    <div class="col-md-12 back_btn">
        <button mat-raised-button class="btn-light" [routerLink]="['../']"><i class="material-icons" style="font-size: 20px">arrow_back</i> {{'BACK' | translate}} </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span  [ngClass]="{'fa fa-sm':true, 'fa-tasks':issue.status == 'IN_PROGRESS', 'fa-exclamation-triangle':issue.status == 'CONFIRMED', 'fa-check-square':issue.status == 'RESOLVED'}"></span>
                    {{issue?.bug_id}} ({{'DASHBOARD.'+issue?.issue | translate}} - {{issue?.value_desc}}) -- {{issue?.created_ago}}
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td><strong>{{'USERNAME' | translate}}</strong></td>
                            <td>{{user?.username}}</td>
                        </tr>
                        <tr>
                            <td><strong>{{'GRID.NAME' | translate}}</strong></td>
                            <td>{{user?.name}}</td>
                        </tr>
                        <tr>
                            <td><strong>{{'GRID.SURNAME' | translate}}</strong></td>
                            <td>{{user?.surname}}</td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>{{user?.email}}</td>
                        </tr>
                        <tr>
                            <td><strong>{{'GRID.POSITION' | translate}}</strong></td>
                            <td>{{user?.position}}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle"><strong>{{'DASHBOARD.USEROLE' | translate}}</strong></td>
                            <td>
                            <div *ngFor="let role of user?.role_name">{{ ('ROLES.' + role) | translate }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle"><strong>{{'DASHBOARD.DEPARTMENTS' | translate}}</strong></td>
                            <td>
                                <div *ngFor="let department of user?.departments">{{department}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{'DASHBOARD.LAST_LOGIN' | translate}}</strong></td>
                            <td>{{ user?.last_login | date: 'MMM d, HH:mm'}}</td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-12">
        <div style="min-height:500px;" id="issuesmap"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        (leafletMarkerClusterReady)="markerClusterReady($event)"
        [leafletOptions]="mapInit"
        [leafletMarkerCluster]="markerClusterData"
        [leafletMarkerClusterOptions]="markerClusterOptions"
        [leafletZoom]="issueZoom"
        [leafletCenter]="issueCenter"
        [leafletLayers]="mapLayers"
        [leafletLayersControl]="layersControl">
        </div>
    </div>

</div>
