<div class="row">
    <div class="col-lg-7 col-md-12">
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <mat-form-field class="example-full-width">
                    <mat-select [(value)]="issuesService.issuesSorting" placeholder="{{'SORTING' | translate}}">
                        <mat-option value="-1" (click)="changeIssueSorting('-1')">{{'SORTING_NEWER_FIRST'|translate}}</mat-option>
                        <mat-option value="1" (click)="changeIssueSorting('1')">{{'SORTING_OLDER_FIRST'|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-6">
                <mat-form-field class="example-full-width">
                    <mat-select [(value)]="issuesService.issuesSelected" placeholder="{{'DASHBOARD.ISSUES_TYPE' | translate}}">
                        <mat-option *ngFor = "let issue of issue_types" value="{{issue.type}}" (click)="changeIssueType(issue.type)"><span class = "{{issue.icon}}"></span> {{'DASHBOARD.'+issue.type | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-12 refresh_btn_container">
                <button mat-raised-button class="btn-light" (click)="fetchIssues()"><i class="material-icons">refresh</i> {{'REFRESH' | translate}} </button>
            </div>
        </div>
        <div class="row" [ngStyle]="{'margin-bottom':!bulk_checked ? '10px': '0'}">
            <div class="col-12">
                <mat-slide-toggle color="primary" [ngModelOptions]="{standalone: true}"  [(ngModel)]="bulk_checked" (change)="onBulkSliderChange()">{{'DASHBOARD.BULK_EDITING' | translate}}</mat-slide-toggle>
            </div>

        </div>

        <div class="row" [formGroup]="bulkEditForm" *ngIf="bulk_checked">
            <div class="col-xl-4 col-lg-6" >
                <mat-form-field class="example-full-width" >
                    <mat-select formControlName="status">
                        <mat-select-trigger>
                            {{'DASHBOARD.STATE_STATUS.'+bulkEditForm.controls.status.value | uppercase | translate}}
                        </mat-select-trigger>

                        <mat-option *ngFor="let status of ['CONFIRMED', 'RESOLVED']" [value]="status" style="font-size:14px">{{('DASHBOARD.STATE_STATUS.'+status) | uppercase | translate}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-6" *ngIf="bulkEditForm.controls.status.value == 'RESOLVED'">
                <mat-form-field class="example-full-width"  >
                    <mat-select formControlName="resolution" >
                        <mat-select-trigger>
                            {{'DASHBOARD.RESOLVED_STATUS.'+bulkEditForm.controls.resolution.value | uppercase | translate}}
                        </mat-select-trigger>
                        <mat-option *ngFor="let status of resolvedStatusList" [value]="status" style="font-size:14px">{{('DASHBOARD.RESOLVED_STATUS.'+status) | uppercase | translate}}</mat-option>
                    </mat-select>

                </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-12 refresh_btn_container">
                <button mat-raised-button color="primary" (click)="onSubmitBulkEdit()"><i class="material-icons">edit</i> {{'SUBMIT' | translate}} </button>
            </div>

        </div>

        <div *ngFor='let issue of issues' class="card">
            <div *ngIf="bulk_checked" class="card-body cursor-auto">
                <mat-checkbox color="primary" (change)="onBulkEditChange($event, issue)">
                    <!-- <div  [ngClass]="{'issue-icon':true, 'fa fa-sm':true, 'fa-tasks':issue.status == 'IN_PROGRESS', 'fa-exclamation-triangle':issue.status == 'CONFIRMED', 'fa-check-square':issue.status == 'RESOLVED'}"></div> -->
                    <div class="issue-info">
                        <div>
                            <span  [ngClass]="{'fa fa-sm':true, 'fa-tasks':issue.status == 'IN_PROGRESS', 'fa-exclamation-triangle':issue.status == 'CONFIRMED', 'fa-check-square':issue.status == 'RESOLVED'}"></span>

                            {{issue.bug_id}} ({{'DASHBOARD.'+issue.issue | translate}} - {{issue.value_desc}}) -- {{issue.created_ago}}
                        </div>
                        <div class="address-info">
                            <span *ngIf = "issue.bug_address != ''">{{issue.bug_address}}</span>
                            <span *ngIf = "issue.bug_address == ''">{{'DASHBOARD.ADDRESS_NOT_AVAILABLE' | translate}}</span>
                        </div>
                    </div>
                </mat-checkbox>
            </div>
            <div *ngIf="!bulk_checked" class="card-body" (click)="onDisplayIssueDetails(issue)">
                <div  [ngClass]="{'issue-icon':true, 'fa fa-lg':true, 'fa-tasks':issue.status == 'IN_PROGRESS', 'fa-exclamation-triangle':issue.status == 'CONFIRMED', 'fa-check-square':issue.status == 'RESOLVED'}"></div>
                <div class="issue-info">
                    <div>
                        {{issue.bug_id}} ({{'DASHBOARD.'+issue.issue | translate}} - {{issue.value_desc}}) -- {{issue.created_ago}}
                    </div>
                    <div class="address-info">
                        <span *ngIf = "issue.bug_address != ''">{{issue.bug_address}}</span>
                        <span *ngIf = "issue.bug_address == ''">{{'DASHBOARD.ADDRESS_NOT_AVAILABLE' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class='text-right' style="margin-top:25px">
            <i style="vertical-align: middle;">{{'DASHBOARD.NUMBER_OF_ISSUES' | translate}}:</i>
            <div class="btn-group">
                <label class="btn btn-light waves-light results_btn" [(ngModel)]="issuesService.issuesViewPerPage" mdbRadio="20" mdbRippleRadius (click)='changePageSize(issuesService.issuesViewPerPage)'>
                    20
                </label>
                <label class="btn btn-light waves-light results_btn" [(ngModel)]="issuesService.issuesViewPerPage" mdbRadio="50" mdbRippleRadius (click)='changePageSize(issuesService.issuesViewPerPage)'>
                    50
                </label>
                <label class="btn btn-light waves-light results_btn" [(ngModel)]="issuesService.issuesViewPerPage" mdbRadio="100" mdbRippleRadius (click)='changePageSize(issuesService.issuesViewPerPage)'>
                    100
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-12">
        <div class="row">
            <div class="col-12">
                <mat-button-toggle-group #group="matButtonToggleGroup" [ngModel]="actionGroupSelected" (ngModelChange)="onActionGroupSelected($event)">
                    <mat-button-toggle value="DEPARTMENT_ISSUES" matTooltip="{{ 'DASHBOARD.DEPARTMENT_ISSUES'| translate}}" [matTooltipClass]="{'example-tooltip-host':true}" >
                        <i class='fa fa-sm fa-building color_blue'></i>
                    </mat-button-toggle>
                    <mat-button-toggle value="DEPARTENT_COMPLETED_ISSUES" matTooltip="{{ 'DASHBOARD.DEPARTENT_COMPLETED_ISSUES'| translate}}" [matTooltipClass]="{'example-tooltip-host':true}">
                        <i class='fa fa-sm fa-check-circle color_green'></i>
                    </mat-button-toggle>
                    <mat-button-toggle *ngIf="userRoles.indexOf('cityManager')!=-1" value="OTHER_DEP_ISSUES" matTooltip="{{ 'DASHBOARD.OTHER_DEP_ISSUES'| translate}}" [matTooltipClass]="{'example-tooltip-host':true}">
                        <i class='material-icons color_orange'>location_city</i>
                    </mat-button-toggle>
                </mat-button-toggle-group>

                <button mat-raised-button style="min-width: inherit; color: rgba(0,0,0,.38); float:right" (click)="fetchIssues4Printing()" [disabled]='printRequestGuard' matTooltip="{{ 'DASHBOARD.ISSUES_TO_PDF'| translate}}" [matTooltipClass]="{'example-tooltip-host':true}"><i class='material-icons'>picture_as_pdf</i></button>
                <!-- <mat-button-toggle><i class='fa fa-lg fa-check-circle'></i></mat-button-toggle>
                <mat-button-toggle><i class='fa fa-lg fa-question-circle'></i></mat-button-toggle> -->
                <!-- <mat-button-toggle><i class='fa fa-lg fa-print'></i></mat-button-toggle> -->


            </div>
        </div>
        <div class="card">
            <!-- <div class="card-body"> -->
                <div>
                    <div class="input-group" style='padding:0.5em'>
                        <input class="bs3-form-control flex-input-group-append" #addressSearchInput placeholder="{{'SIGNUP.ADDRESS' | translate}}" aria-describedby="enter address">
                        <div class="input-group-append">
                            <button mat-button class="btn-light" (click)="searchAddress(addressSearchInput.value)" style="background-color: #e0e0e0;">{{'SEARCH' | translate}} </button>
                        </div>
                    </div>
                </div>

                <div style="min-height:500px;" id="issuesmap"
                leaflet
                (leafletMapReady)="onMapReady($event)"
                (leafletMarkerClusterReady)="markerClusterReady($event)"
                [leafletOptions]="mapInit"
                [leafletMarkerCluster]="markerClusterData"
                [leafletMarkerClusterOptions]="markerClusterOptions"
                [leafletZoom]="issueZoom"
                [leafletCenter]="issueCenter"
                [leafletLayers]="mapLayers"
                [leafletLayersControl]="layersControl">
                </div>

            <!-- </div> -->
        </div>
    </div>
</div>
