<form class="example-form" [formGroup]="personalInfoForm" novalidate>
    <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel [expanded]="true" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'SIGNUP.PERSONAL_INFO' | translate}}
                </mat-panel-title>
                <mat-panel-description>
                    {{'SIGNUP.PERSONAL_INFO_DESC' | translate}}
                    <i class="material-icons">account_circle</i>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="example-full-width container">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="{{'GRID.POSITION' | translate}}" formControlName="position"/>
                            <mat-error *ngIf="personalInfoForm.controls.position.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="{{'SIGNUP.NAME' | translate}}" formControlName="firstname"/>
                            <mat-error *ngIf="personalInfoForm.controls.firstname.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="{{'SIGNUP.SURNAME' | translate}}" formControlName="lastname"/>
                            <mat-error *ngIf="personalInfoForm.controls.lastname.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel [expanded]="true" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'SIGNUP.CONTACT_INFO' | translate}}
                </mat-panel-title>
                <mat-panel-description>
                    {{'SIGNUP.CONTACT_INFO_DESC' | translate}}
                    <i class="material-icons">email</i>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="example-full-width container">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" formControlName="email" (blur)="checkEmailExists(personalInfoForm.controls.email.value)" />
                            <mat-error *ngIf="personalInfoForm.controls.email.hasError('pattern')" [innerHTML]="'VALID_MAIL_ERR' | translate"></mat-error>
                            <mat-error *ngIf="personalInfoForm.controls.email.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                            <mat-error *ngIf="personalInfoForm.controls.email.hasError('emailExists')" [innerHTML]="'SIGNUP.EMAIL_EXISTS_ERR' | translate"></mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="{{'SIGNUP.TEL' | translate}}" formControlName="telephone"/>
                            <mat-error *ngIf="personalInfoForm.controls.telephone.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                            <mat-error *ngIf="personalInfoForm.controls.telephone.hasError('pattern')" [innerHTML]="'INVALID_PHONE_ERR' | translate"></mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- <div formGroupName = "addressForm">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="{{'SIGNUP.ADDRESS' | translate}}" formControlName="road"/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="{{'SIGNUP.CITY' | translate}}" formControlName="city"/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="{{'SIGNUP.PROVINCE' | translate}}" formControlName="province"/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="{{'SIGNUP.POSTAL_CODE' | translate}}" formControlName="postal"/>
                        </mat-form-field>
                    </div>
                </div> -->
            </div>
        </mat-expansion-panel>


        <!-- <mat-expansion-panel [expanded]="false"  hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    More Information
                </mat-panel-title>
                <mat-panel-description>
                    Anything you would like to share?
                    <i class="material-icons">format_color_text</i>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="example-full-width container">
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Enter your text here" matTextareaAutosize matAutosizeMinRows="2"
                    matAutosizeMaxRows="15"></textarea>
                </mat-form-field>
            </div>
        </mat-expansion-panel> -->

    </mat-accordion>
</form>
