<div class="col-md-12">
    <div class="card" >
        <div class="card-header" data-background-color="red">
            <!-- <button mat-fab type="button" rel="tooltip" style="float:right" class="btn-add"><i class="icon-add material-icons">add</i></button> -->
            <!-- <button class="icon-add" #addButton mat-mini-fab routerLink="add">+</button> -->
            <h5>{{'DASHBOARD.STATISTICS' | translate}}</h5>
            <p class="category">{{'DASHBOARD.STATISTICS_DESC' | translate}}</p>
        </div>
        <div class="card-content container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 col-md-12 text-center temporary">
                    <h2><i>{{'UNDER_CONSTRUCTION' | translate}}</i></h2>
                    <h4><i>{{'DASHBOARD.STATISTICS_TEMPORARY_MSG' | translate}}</i></h4>
                    <h4><a target="_blank" href="https://{{city}}.sense.city{{statisticsUrl}}" rel="noopener noreferrer">- Link -</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
