.dialog-header {
    /* box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2); */
    /* margin: -20px 15px 0; */
    border-radius: 2px;
    padding: 15px 25px;
    color: #fff;
    /* background-color: #999; */

}

.dialog-header .category {
    margin-bottom: 0;
    color: hsla(0,0%,100%,.62);
}

.dialog-content {
    padding: 0px 25px;
}

.dialog-alert {
    padding: 8px 16px;
    margin: 1em auto;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

[data-background-color=orange] {
    background: linear-gradient(60deg,#f0ad4e,#eea236);
    box-shadow: 0 12px 20px -10px rgba(255,152,0,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(255,152,0,.2);}

[data-background-color=green] {
    background: linear-gradient(60deg,#66bb6a,#43a047);
    box-shadow: 0 12px 20px -10px rgba(76,175,80,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(76,175,80,.2);
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
