<div *ngIf = "data.action === 'userEdit'">
    <div data-background-color="orange">
        <h2 mat-dialog-title class="dialog-header text-center">
            <i style="float:left; display:inline-table; vertical-align:middle"class="material-icons">edit</i>
            {{ 'DASHBOARD.EDIT_USER' | translate }} '{{originalNameField}}'
        </h2>
    </div>
    <mat-dialog-content>
        <div class="example-form dialog-content">
            <form class="example-form" [formGroup]="userEditForm">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{'USERNAME' | translate}}" formControlName="username"/>
                        <mat-error *ngIf="userEditForm.controls.username.hasError('required')">{{ 'REQ_ERR'| translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder=Email formControlName="email"/>
                        <mat-error *ngIf="userEditForm.controls.email.hasError('required')">{{ 'REQ_ERR'| translate }}</mat-error>
                        <mat-error *ngIf="!userEditForm.controls.email.hasError('required') && userEditForm.controls.email.hasError('email')">{{ 'VALID_MAIL_ERR'| translate }}</mat-error>

                    </mat-form-field>
                </div>
            </form>
            <div class="col-md-12">
                <button mat-raised-button color="warn" data-background-color="orange" (click)="onResetPassword()" >{{ 'DASHBOARD.RESET_PASSWORD'| translate }}</button>
                <div *ngIf='resetPasswordMsg' class='dialog-alert example-full-width alert-danger'>
                    {{ 'DASHBOARD.RESET_PASSWORD_MSG' | translate }} <strong>{{originalEmailField}}</strong>
                    <!-- <div>
                        <button mat-icon-button color="warn">
                          <mat-icon aria-label="Do not Reset Password">clear</mat-icon>
                        </button>
                        No
                        <button mat-icon-button style="color:lightgreen">
                          <mat-icon  aria-label="Reset Password">done</mat-icon>
                        </button>
                        Yes
                    </div> -->
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="dialog-content example-form">
            <div class="col-md-12 text-right">
                <button mat-button mat-dialog-close style="background:#e0e0e0">{{ 'CANCEL' | translate }}</button>
                <!-- Can optionally provide a result for the closing dialog. -->
                <button mat-button (click)="onSubmitEditUser()" [disabled]="userEditForm.invalid || (originalEmailField === userEditForm.controls.email.value && originalNameField == userEditForm.controls.username.value)">{{ 'SUBMIT' | translate }}</button>
            </div>
        </div>
    </mat-dialog-actions>
</div>

<div *ngIf = "data.action === 'userAdd'">
    <div data-background-color="green">
        <h2 mat-dialog-title class="dialog-header text-center">
            <!-- <i style="float:left; display:inline-table; vertical-align:middle"class="material-icons">add</i> -->
            {{ 'DASHBOARD.CREATE_USER' | translate }}
        </h2>
    </div>
    <mat-dialog-content>
        <div class="example-form dialog-content">
            <form class="example-form" [formGroup]="userAddForm">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{'FULLNAME' | translate}}" formControlName="fullname"/>
                        <mat-error *ngIf="userAddForm.controls.username.hasError('required')">{{ 'REQ_ERR'| translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{'USERNAME' | translate}}" formControlName="username"/>
                        <mat-error *ngIf="userAddForm.controls.username.hasError('required')">{{ 'REQ_ERR'| translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder=Email formControlName="email"/>
                        <mat-error *ngIf="userAddForm.controls.email.hasError('required')">{{ 'REQ_ERR'| translate }}</mat-error>
                        <mat-error *ngIf="!userAddForm.controls.email.hasError('required') && userAddForm.controls.email.hasError('email')">{{ 'VALID_MAIL_ERR'| translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="{{'DASHBOARD.USEROLE' | translate}}" formControlName="roles" multiple>
                            <mat-select-trigger>
                                {{userAddForm.controls.roles.value ? (userAddForm.controls.roles.value[0] | translate) : ''}}
                                <span *ngIf="userAddForm.controls.roles.value?.length > 1" class="example-additional-selection">
                                    (+{{userAddForm.controls.roles.value.length - 1}} {{ 'OTHERS' | translate }})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let role of roleList" [value]="role" style="font-size:14px">{{role|translate}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="userAddForm.controls.email.hasError('required')">{{ 'REQ_ERR'| translate }}</mat-error>

                    </mat-form-field>
                </div>
            </form>
            <!-- <div class="col-md-12">
                <button mat-raised-button color="warn" data-background-color="orange" (click)="onResetPassword()" >{{ 'DASHBOARD.RESET_PASSWORD'| translate }}</button>
                <div *ngIf='resetPasswordMsg' class='dialog-alert example-full-width alert-danger'>
                    {{ 'DASHBOARD.RESET_PASSWORD_MSG' | translate }} <strong>{{originalEmailField}}</strong>

                </div>
            </div> -->
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="dialog-content example-form">
            <div class="col-md-12 text-right">
                <button mat-button mat-dialog-close style="background:#e0e0e0">{{ 'CANCEL' | translate }}</button>
                <!-- Can optionally provide a result for the closing dialog. -->
                <button mat-button [disabled]="userAddForm.invalid" (click)=onSubmitAddUser()>{{ 'SUBMIT' | translate }}</button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
