.example-card {
    background-color: #eee;
    /* width: 500px; */
}

.example-header-image {
    background-size: cover;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.message {
	margin: 1em auto;
	padding: 1em;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

button:disabled {
    opacity: 0.65
}
