<div class="col-md-12 back_btn">
    <button mat-raised-button class="btn-light" [routerLink]="['../']"><i class="material-icons" style="font-size: 20px">arrow_back</i> {{'BACK' | translate}} </button>
</div>
<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-12">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar style="margin-right: 20px;"><i class="material-icons" style="font-size:55px; color: #3c4858;">account_circle</i></div>
                <mat-card-title>{{'DASHBOARD.NEW_USER' | translate}}</mat-card-title>
                <mat-card-subtitle><span>{{userAddForm.controls.username.value}}</span></mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content class="container-fluid">

                <form class="example-form example-full-width" [formGroup]="userAddForm">
                    <div class="row card-row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'USERNAME' | translate}}" formControlName="username"/>
                                <mat-error *ngIf="userAddForm.controls.username.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row card-row" formGroupName="passwordForm">
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width">
                                <input type="password" matInput placeholder="{{'PASSWORD' | translate}}" formControlName="pw1"/>
                                <mat-error *ngIf="userAddForm.get('passwordForm').get('pw1').hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width">
                                <input type="password" matInput placeholder="{{'CONFIRM_PASS' | translate}}" formControlName="pw2"/>
                                <!-- <mat-error *ngIf="userAddForm.controls.passwordForm.controls.pw2.value &&
                                userAddForm.controls.passwordForm.controls.pw2.touched &&
                                userAddForm.controls.passwordForm.hasError('noMatchingPassword')" [innerHTML]="'MATCHING_PASS_ERR' | translate">
                                </mat-error> -->
                                <mat-error *ngIf="userAddForm.get('passwordForm').get('pw2').hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                                <mat-error *ngIf="userAddForm.get('passwordForm').get('pw2').hasError('noMatchingPassword')" [innerHTML]="'MATCHING_PASS_ERR' | translate"></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row card-row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder=Email formControlName="email"/>
                                <mat-error *ngIf="userAddForm.controls.email.hasError('pattern')" [innerHTML]="'VALID_MAIL_ERR' | translate"></mat-error>
                                <mat-error *ngIf="userAddForm.controls.email.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'GRID.POSITION' | translate}}" formControlName="position"/>
                                <mat-error *ngIf="userAddForm.controls.position.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="{{'DASHBOARD.USEROLE' | translate}}" formControlName="role_name" multiple>
                                    <mat-select-trigger>
                                        {{userAddForm.controls.role_name.value ? ('ROLES.'+userAddForm.controls.role_name.value[0] | translate) : ''}}
                                        <span *ngIf="userAddForm.controls.role_name.value?.length > 1" class="example-additional-selection">
                                            (+{{userAddForm.controls.role_name.value.length - 1}} {{ 'OTHERS' | translate }})
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let role of roleList" [value]="role" style="font-size:14px">{{('ROLES.'+role)|translate}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="userAddForm.controls.role_name.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row card-row">
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'DASHBOARD.NAME_OPT' | translate}}" formControlName="name"/>
                                <!-- <mat-error *ngIf="userAddForm.controls.name.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{'DASHBOARD.SURNAME_OPT' | translate}}" formControlName="surname"/>
                                <!-- <mat-error *ngIf="userAddForm.controls.surname.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div class="row card-row">
                    <div class="col-md-12">
                        <!-- <button mat-button (click)="userAddForm.reset(); userServiceMsg = ''" class="btn-default danger_btn" >{{'RESET' | translate}}</button> -->
                        <button mat-button (click)="userAddForm.reset()" class="btn-light danger_btn" >{{'RESET' | translate}}</button>
                        <button mat-button [disabled]="!userAddForm.valid" (click)="submitNewUser()" class="btn-light success_btn" [ngStyle]="{'opacity': !userAddForm.valid ? '0.65' : '1'}">{{'SUBMIT' | translate}}</button>
                    </div>
                </div>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button (click)="userAddForm.reset()">{{ 'DASHBOARD.RESET' | translate }}</button>
                <button mat-button [disabled]="!userAddForm.valid" (click)="submitNewUser()">{{ 'DASHBOARD.CREATE_USER' | translate }}</button>
            </mat-card-actions> -->
        </mat-card>

        <!-- <div class='alert-success message text-center' [ngStyle]="{'display':(userServiceMsg == 'success') && !userAddForm.dirty ? 'block' : 'none'}" >
            <i class="fa fa-check" style="margin-right:5px"></i><span [innerHTML]="'DASHBOARD.USER_ADDED_MSG' | translate:{username: username}"></span>
        </div>
        <div class='alert-danger message text-center' [ngStyle]="{'display':(userServiceMsg == 'duplicate_username') && !userAddForm.dirty ? 'block' : 'none'}" >
            <i class="fa fa-close" style="margin-right:5px"></i><span [innerHTML]="'DASHBOARD.USERNAME_EXISTS_MSG' | translate:{username: username}"></span>
        </div>
        <div class='alert-danger message text-center' [ngStyle]="{'display':(userServiceMsg == 'duplicate_email') && !userAddForm.dirty ? 'block' : 'none'}" >
            <i class="fa fa-close" style="margin-right:5px"></i><span [innerHTML]="'DASHBOARD.EMAIL_EXISTS_MSG' | translate:{email: email}"></span>
        </div>
        <div class='alert-danger message text-center' [ngStyle]="{'display':(userServiceMsg == 'services_error') && !userAddForm.dirty ? 'block' : 'none'}" >
            <i class="fa fa-close" style="margin-right:5px"></i><span [innerHTML]="'SERVICES_ERROR_MSG' | translate"></span>
        </div> -->




    <!-- <div class="col-md-12">
    <button mat-raised-button color="warn" data-background-color="orange" (click)="onResetPassword()" >{{ 'DASHBOARD.RESET_PASSWORD'| translate }}</button>
    <div *ngIf='resetPasswordMsg' class='dialog-alert example-full-width alert-danger'>
    {{ 'DASHBOARD.RESET_PASSWORD_MSG' | translate }} <strong>{{originalEmailField}}</strong>

    </div>
    </div> -->
    </div>

    <div class="col-xl-5 col-lg-12">
        <div class="alert-info message-info text-justify">
            <p><strong>{{'INFO' | translate}}</strong></p>

            <div>{{'DASHBOARD.USER_ROLES' | translate}}</div>
            <ul>
                <li>{{'ROLES.cityAdmin' | translate}} - <dfn>{{'ROLES_DESCRIPTION.cityAdmin' | translate}}</dfn></li>
                <li>{{'ROLES.cityManager' | translate}} - <dfn>{{'ROLES_DESCRIPTION.cityManager' | translate}}</dfn></li>
                <li>{{'ROLES.departmentAdmin' | translate}} - <dfn>{{'ROLES_DESCRIPTION.departmentAdmin' | translate}}</dfn></li>
                <li>{{'ROLES.departmentUser' | translate}} - <dfn>{{'ROLES_DESCRIPTION.departmentUser' | translate}}</dfn></li>
            </ul>

            <div>{{'DASHBOARD.USER_ADD_INFO_EMAIL' | translate}}</div>
        </div>
    </div>

</div>
