<!-- <div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <i class="ion-ios-analytics-outline" style="left:-8px; top:1px; position:relative;"></i>sense.city
    </a>
</div> -->

<!-- <div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div> -->

<nav id="sidebar" [ngClass]="{'active':isToggled == true}">
    <div class="sidebar-header">
        <h3 style="padding: 15px 20px;"><a routerLink='./home'><i class="ion-ios-analytics-outline" style="margin-right:8px; top:1px; position:relative;"></i>sense.city</a></h3>
        <strong><a routerLink='./home'><i class="ion-ios-analytics-outline"></i><br />sense city</a></strong>
    </div>

    <ul class="list-unstyled components">
        <li *ngIf = "userRoles.indexOf('sensecityAdmin')!=-1" [ngClass]="{'active':selectedRole == 'sensecityAdmin'}">
            <a data-toggle="collapse" [attr.aria-expanded]="selectedRole == 'sensecityAdmin'" (click)="selectRole('sensecityAdmin')">{{'ROLES.sensecityAdmin' | translate}}</a>
            <ul [ngClass]="{'list-unstyled':true, 'collapse': selectedRole != 'sensecityAdmin'}" >
                <li routerLinkActive="active" *ngFor="let menuItem of menuItems" >
                    <a  [routerLink]="[menuItem.path]">
                        <i class="material-icons">{{menuItem.icon}}</i>
                        {{menuItem.title | translate}}
                    </a>
                </li>
            </ul>
        </li>
        <li *ngIf = "userRoles.indexOf('cityAdmin')!=-1" [ngClass]="{'components':true,  'active':selectedRole == 'cityAdmin'}">
            <a data-toggle="collapse" [attr.aria-expanded]="selectedRole == 'cityAdmin'" (click)="selectRole('cityAdmin')">{{'ROLES.cityAdmin' | translate}}</a>
            <ul [ngClass]="{'list-unstyled':true, 'collapse': selectedRole != 'cityAdmin'}" >
                <div *ngFor="let menuItem of menuItems">
                    <li routerLinkActive="active" *ngIf="menuItem.role == 'cityAdmin'" >
                        <a  [routerLink]="[menuItem.path]">
                            <i class="material-icons">{{menuItem.icon}}</i>
                            {{menuItem.title | translate}}
                        </a>
                    </li>
                </div>
            </ul>
        </li>
        <li *ngIf = "userRoles.indexOf('cityManager')!=-1" [ngClass]="{'components':true,'active':selectedRole == 'cityManager'}">
            <a data-toggle="collapse" [attr.aria-expanded]="selectedRole == 'cityManager'" (click)="selectRole('cityManager')">{{'ROLES.cityManager' | translate}}</a>
            <ul [ngClass]="{'list-unstyled':true, 'collapse': selectedRole != 'cityManager'}">
                <div *ngFor="let menuItem of menuItems">
                    <li routerLinkActive="active" *ngIf="menuItem.role == 'cityManager'" >
                        <a  [routerLink]="[menuItem.path]">
                            <i class="material-icons">{{menuItem.icon}}</i>
                            {{menuItem.title | translate}}
                        </a>
                    </li>
                </div>
            </ul>
        </li>
        <li *ngIf = "userRoles.indexOf('departmentAdmin')!=-1" [ngClass]="{'active':selectedRole == 'departmentAdmin'}">
            <a data-toggle="collapse" [attr.aria-expanded]="selectedRole == 'departmentAdmin'" (click)="selectRole('departmentAdmin')">{{'ROLES.departmentAdmin' | translate}}</a>
            <ul [ngClass]="{'list-unstyled':true, 'collapse': selectedRole != 'departmentAdmin'}" >
                <li><a>Link1</a></li>
                <li><a>Link2</a></li>
            </ul>
        </li>
        <li *ngIf = "userRoles.indexOf('departmentUser')!=-1" [ngClass]="{'active':selectedRole == 'departmentUser'}">
            <a data-toggle="collapse" [attr.aria-expanded]="selectedRole == 'departmentUser'" (click)="selectRole('departmentUser')">{{'ROLES.departmentUser' | translate}}</a>
            <ul [ngClass]="{'list-unstyled':true, 'collapse': selectedRole != 'departmentUser'}" >
                <li><a>Link1</a></li>
                <li><a>Link2</a></li>
            </ul>
        </li>
        <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
            <a  [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                {{menuItem.title | translate}}
            </a>
        </li> -->
    </ul>

</nav>
