<form class="example-form" [formGroup]="mapForm">
    <mat-expansion-panel [expanded]="true" hideToggle="true">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'SIGNUP.CITY_REQUEST' | translate}}"
                    name="city"
                    formControlName="city"
                    [(ngModel)]="city"
                    (change)="onCitySelect()" />
                    <mat-error *ngIf="mapForm.controls.city.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                    <mat-error *ngIf="mapForm.controls.city.hasError('notFound')" [innerHTML]="'SIGNUP.CITY_NOT_FOUND'| translate"></mat-error>

                </mat-form-field>
                <mat-form-field *ngIf="city" class="example-full-width">
                    <input matInput placeholder="{{'SIGNUP.DOMAIN_REQUEST' | translate : {city: sugg_domain | lowercase} }}"
                    name="domain"
                    formControlName="domain"
                    [(ngModel)]="domain"
                    (focus)="onDomainSelect()"
                    (change)="checkCityExists(mapForm.controls.domain.value)" />
                    <span class='suffix' matSuffix>.sense.city</span>
                    <mat-error *ngIf="mapForm.controls.domain.hasError('required')" [innerHTML]="'REQ_ERR' | translate"></mat-error>
                    <mat-error *ngIf="mapForm.controls.domain.hasError('cityExists')" [innerHTML]="'SIGNUP.CITY_EXISTS_ERR' | translate"></mat-error>
                    <mat-error *ngIf="mapForm.controls.domain.hasError('pattern')" [innerHTML]="'SIGNUP.INVALID_DOMAIN_ERR' | translate"></mat-error>
                </mat-form-field>
                <!-- <mat-error style="padding:0px 5px" *ngIf="invalidcity"><i class="material-icons" style="left:-8px; top:1px; position:relative">new_releases</i><span style="top:-5px; position:relative">{{'SIGNUP.CITY_NOT_FOUND'| translate}}</span></mat-error> -->
                <div style="min-height:500px; margin-top:1%;"
                (leafletMapReady)=onMapReady($event)
                leaflet
                [leafletOptions]="mapInit"
                [leafletLayers]="markerLayer"
                [leafletCenter]="markerCenter"
                [leafletZoom]="markerZoom">
                </div>
            </div>

        </div>
    </mat-expansion-panel>

    <!-- <div class="example-full-width" style="margin-top:1%">
    <mat-checkbox color="primary" id="checkbox" name="checkbox" formControlName="checkbox"><span>I have entered the correct city</span></mat-checkbox>
    <mat-error *ngIf="mapForm.controls.checkbox.hasError('checkedValidator') && mapForm.controls.checkbox.touched">Please confirm your <strong>city selection!</strong></mat-error>
    </div> -->
</form>
