<div class="col-md-12">
    <div class="card" >
        <div class="card-header" data-background-color="red">
            <!-- <button mat-fab type="button" rel="tooltip" style="float:right" class="btn-add"><i class="icon-add material-icons">add</i></button> -->
            <!-- <button class="icon-add" #addButton mat-mini-fab routerLink="add">+</button> -->
            <!-- <button class="icon-add" #addButton mat-raised-button routerLink="add"><i class="fa fa-user-plus"><span class="icon-text">{{'DASHBOARD.ADD' | translate}}</span></i></button> -->
            <h5>{{'DASHBOARD.ISSUES' | translate}}</h5>
            <p class="category">{{'DASHBOARD.ISSUES_DESC' | translate}}</p>
        </div>
        <div class="card-content container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
