#video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('/assets/video_screen.png');
    background-size: cover;
}

.voffset15 {
   margin-top:15%;
}
.voffset20 {
   margin-top:20%;
}

h2 {
    margin-top:1rem;
    margin-bottom:1rem;
}
