<ng-progress [meteor]="true" [thick]="true" [color]="'#FFFFFF'"></ng-progress>

<app-header></app-header>

<section style="margin-top:2%">
    <div class="text-center">
        <h1> {{'SIGNUP.TITLE' | translate}} </h1>
        <h2> {{'SIGNUP.SUBTITLE' | translate}} </h2>
    </div>
</section>

<div class="container" style="margin-top:2%; padding:1%;">
    <div class="row">
        <div class="col-md-12">
            <mat-horizontal-stepper color="accent" [linear]="true" style="background:rgb(220, 220, 220); min-height:400px">
                <mat-step [stepControl]="mapForm">
                    <ng-template matStepLabel> {{'SIGNUP.STEP1_LABEL' | translate}} </ng-template>
                    <app-map-link></app-map-link>
                    <div class="text-right" style="margin-top:2%">
                        <button color="primary" mat-raised-button matStepperNext> {{'NEXT' | translate}} </button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="personalInfoForm">
                    <ng-template matStepLabel> {{'SIGNUP.STEP2_LABEL' | translate}} </ng-template>
                    <app-personal-info></app-personal-info>
                    <div class="text-right" style="margin-top:2%">
                        <button color="primary" mat-raised-button matStepperPrevious> {{'BACK' | translate}} </button>
                        <button color="primary" mat-raised-button matStepperNext> {{'NEXT' | translate}} </button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="accountForm">
                    <ng-template matStepLabel> {{'SIGNUP.STEP3_LABEL' | translate}} </ng-template>
                    <app-account-create></app-account-create>
                    <div class="text-right" style="margin-top:2%">
                        <button color="primary" mat-raised-button matStepperPrevious> {{'BACK' | translate}} </button>
                        <button color="primary" mat-raised-button matStepperNext> {{'NEXT' | translate}} </button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> {{'SIGNUP.STEP4_LABEL' | translate}} </ng-template>
                    <div class="row justify-content-center" style="margin-top:10px">
                        <div class="col-md-10">
                            <mat-expansion-panel [expanded]="true" hideToggle="true">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 text-center" style="padding-top:16px">
                                        <h4 > {{'SIGNUP.STEP4_FINISH' | translate}} </h4>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div style="margin-top:4%" class="col-lg-6 text-center">
                                        <form [formGroup]="submitForm" >
                                            <h5> {{'SIGNUP.STEP4_CLICK' | translate}} </h5>
                                            <!-- <div class="example-full-width">
                                                <mat-checkbox color="primary" id="city_acknowledge" name="city_acknowledge" formControlName="city_acknowledge"></mat-checkbox><strong style="margin-left:6px"> {{'SIGNUP.STEP4_CITY_ACKN' | translate}} </strong>
                                            </div> -->
                                            <div class="example-full-width">
                                                <mat-checkbox color="primary" id="terms_acknowledge" name="terms_acknowledge" formControlName="terms_acknowledge"></mat-checkbox>
                                                <strong style="margin-left:6px"><a target="_blank" href="https://sense.city/terms.html" rel="noopener noreferrer">{{'SIGNUP.STEP4_TERMS_ACKN' | translate}}</a></strong>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                        </div>
                    </div>
                    <div class="text-center" style="margin-top:2%">
                        <button mat-button matStepperPrevious> {{'BACK' | translate}} </button>
                    </div>
                    <div class="text-center" >
                        <button style="padding: 3px 40px; margin-top: 1%;" color="accent" mat-raised-button [disabled]="(submitForm.controls.terms_acknowledge.value == false) || (requestGuard == true) " (click)="onSubmit()"> {{'SIGNUP.STEP4_LABEL' | translate}} </button>
                    </div>

                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>

    <div class='alert-danger message text-center' [ngStyle]="{'display':badRequest && (personalInfoForm.pristine && mapForm.pristine && accountForm.pristine && submitForm.pristine)? 'block' : 'none'}" >
        <strong>{{'SIGNUP.CITY_ADD_ERROR_MSG' | translate}}</strong>
    </div>
    <div class='alert-danger message text-center' [ngStyle]="{'display':servicesError && (personalInfoForm.pristine && mapForm.pristine && accountForm.pristine && submitForm.pristine)? 'block' : 'none'}" >
        <strong>{{'SERVICES_ERROR_MSG' | translate}}</strong>
    </div>
    <div class='alert-success message text-center' [ngStyle]="{'display':success && (personalInfoForm.pristine && mapForm.pristine && accountForm.pristine && submitForm.pristine) ? 'block' : 'none'}" >
        <strong>{{'SIGNUP.CITY_ADD_SUCCESS_MSG' | translate}}</strong>
    </div>
</div>



<!-- <div class="container" style="margin-top:5%">
<div class="row">
<div class="col-md-6">
<h2 class="text-center">1) Fill in the form!</h2>
<app-personal-info></app-personal-info>
</div>
<div class="col-md-6">
<h2 class="text-center">2) Mark the map!</h2>
<app-map-link></app-map-link>
</div>
</div>
</div>
<div class="container" style="margin-top:3%">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<h2 class="text-center">3) Account creation & confirmation!</h2>
<app-account-create></app-account-create>
</div>
</div>
</div> -->
