a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

.main-content {
    transition: all 0.3s;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* padding: 0 20px 20px 20px; */
    /* min-height: calc(100% - 64px); */
    /* position: relative; */
    /* height: 100%; */
    /* float: right; */
    /* padding: 0 20px 20px 20px; */
}

i, span {
    display: inline-block;
}


/*  */
/* NAVBAR */
/*  */

.navbar {
    /* padding: 16px 10px; */
    background: #fff;
    /* background: #6d7fcc; */
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    min-height:65px;
}

.navbar-brand {
    display:flex;
    align-items: center;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-element {
    margin:0px 8px;
}

#sidebarCollapse {
    width: 33px;
    /* height: 33px; */
    /* background: #f5f5f5; */
    border-radius: 4px;
}

#sidebarCollapse i {
    /* margin: 1px -4px; */
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse.active i {
    transform: rotateZ(180deg);
}

.translate-flag {
    padding: 10px 10px 10px 0px;
    cursor: pointer;
    height: 45px;
}

.custom-dropdown-item {
    float:left;
    padding: 12px 10px 12px 0px;
    border-radius: 3px;
    color: #3c4858;
    /*@extend .animation-transition-general;*/
}
/*  */
/* GLOBAL CONTENT */
/*  */
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 3px;
    color: rgba(0,0,0,.87);
    background: #fff;
}
.card [data-background-color], .card [data-background-color] a {
    color: #fff;
}

.card [data-background-color=green] {
    background: linear-gradient(60deg,#66bb6a,#43a047);
    box-shadow: 0 12px 20px -10px rgba(76,175,80,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(76,175,80,.2);
}

.card [data-background-color=orange] {
    background: linear-gradient(60deg,#ffa726,#fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255,152,0,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(255,152,0,.2);
}

.card [data-background-color=red] {
    background: linear-gradient(60deg,#ef5350,#e53935);
    box-shadow: 0 12px 20px -10px rgba(244,67,54,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(244,67,54,.2);
}

.card [data-background-color=blue] {
    background: linear-gradient(60deg,#26c6da,#00acc1);
    box-shadow: 0 12px 20px -10px rgba(0,188,212,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0,188,212,.2);
}

.card [data-background-color=purple] {
    background: linear-gradient(60deg,#ab47bc,#8e24aa);
    box-shadow: 0 12px 20px -10px rgba(156,39,176,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(156,39,176,.2);
}

.card [data-background-color=grey] {
    background: linear-gradient(60deg,#37474f,#808081);
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card [data-background-color=teal] {
    background: linear-gradient(60deg,#00695c,#00897B);
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999;
}

.card .card-header .category {
    margin-bottom: 0;
    color: hsla(0,0%,100%,.62);
}

.card .card-content {
    padding: 25px 20px;
}

.card-row {
    padding: 0px 10px;
}
.success_btn {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.danger_btn {
    color: #fff !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}

/* .back_btn {
    margin-bottom: 15px;
} */


table.table td {
	padding:0.70rem;
    vertical-align:middle;
}

strong, .font-bold {
    font-weight: bold;
}
