/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



body {
    background-color: #eee;
    color:#3c4858;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    font-size: 16px;
}


/*  dialog box custom settings*/
.mat-dialog-container {
    padding: 0px !important;
    overflow: hidden !important;
}
.mat-dialog-actions:last-child {
    margin-bottom: 0px !important;
}


/*  full width all forms in app */
.example-form {
   min-width: 150px;
   width: 100%;
}
.example-full-width {
   width: 100%;
   padding: 5px 0px;
}

.ag-cell-focus,.ag-cell-no-focus{
border:none !important;
}
.ag-cell:focus{
border:none !important;
outline: none;
}
