.plus{
    background-color:#5cb85c;
    font-size: 2.2em;
}

.minus{
    background-color:#d2322d;
    font-size: 2.2em;
}



.icon-add{
    float:right;
    background-color: #5cb85c!important;
    font-size: 1.2em;
    margin: 13px 1px;
    font-weight: bold;
}
